<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add name="AdministrationConnection" connectionString="metadata=res://*/Modelo.Administration.csdl|res://*/Modelo.Administration.ssdl|res://*/Modelo.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Documentos\L3M\L3MSuper\App_Data\L3MSuper.Archivo.DB.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <connectionStrings>
    <add name="AdministrationConnection" connectionString="metadata=res://*/Modelo.Administration.csdl|res://*/Modelo.Administration.ssdl|res://*/Modelo.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Documentos\L3M\L3MSuper\App_Data\L3MSuper.Archivo.DB.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>